<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>P02-ServletContext</display-name>
  <servlet>
    <servlet-name>context</servlet-name>
    <servlet-class>com.sm.servlet.ServletContextTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>context</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>author</param-name>
    <param-value>Saikat Mondal</param-value>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>mr.saikat1998@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>mobileNo</param-name>
    <param-value>8159082082</param-value>
  </context-param>
  <context-param>
    <param-name>address</param-name>
    <param-value>WB</param-value>
  </context-param>
</web-app>