<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JSP06-ConfigImplicitObject</display-name>

	<servlet>
		<servlet-name>FirstJsp</servlet-name>
		<jsp-file>/first.jsp</jsp-file>
		<init-param>
			<param-name>dname</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>FirstJsp</servlet-name>
		<url-pattern>/first</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SecoundJsp</servlet-name>
		<jsp-file>/secound.jsp</jsp-file>
		<init-param>
			<param-name>dname</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SecoundJsp</servlet-name>
		<url-pattern>/secound</url-pattern>
	</servlet-mapping>

</web-app>